.search-input {
    height: 30px;
    border-radius: 5px;
    border: solid 1px #bbb;
}
.search-box {
    margin-bottom: 20px;
}
input:focus {
    border-color: #bbb;
    box-shadow: 0 0 5px rgba(11, 129, 226, 0.6);
    outline: none;
  }