.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-btn {
    padding: 10px;
    cursor: pointer;
    height: 30px;
    width: auto;
}

.dropdown-btn:hover {
    background: #dfeef1;
    border-radius: 50%;
}
  
.dropdown-items {
    display: block;
    position: absolute;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 15px -4px rgba(0,0,0,0.75);
    border-radius: 4px;
    min-width: 120px;
    z-index: 1;
    right: 50px;
    top: 0px;
}

.dropdown-items button {
    width: 100%;
    border: none;
    padding: 12px;
    background-color: white;
    cursor: pointer;
    text-align: left;
}
  
.dropdown-items button:hover {
    background-color: #dfeef1;
}